.extraweather p
{
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    text-align: center;
    justify-content: center;
}

p {
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    text-align: center;
    justify-content: center;
}